* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden !important;
}

/* GLOBALS */
a {
    color: white;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}


/* HEADER STYLES */
/* ROW ONE */
.header-row-one {
    background: black;
}

.row-one {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    width: 75%;
    margin: 0 auto;
    padding: .8rem 0;

    font-size: 12px;
    font-weight: 400;
    font-family: 'Overpass', sans-serif;
}

.row-one p {
    color: white;
    width: 25%;
    text-align: center;
    border-right: 1px solid rgb(100, 100, 100);
}

.row-one p:first-child,
.first {
    color: #e7e700 !important;
}

.row-one p:last-child {
    border: none;
    padding: 0 3rem;
    width: 40% !important;
}

.row-one i {
    padding-right: .5rem;
    font-size: 16px;
}

.row-one .last {
    padding: 0 .5rem 0 1.5rem;
    margin-left: 1.5rem;
    border-left: 1px solid rgb(100, 100, 100);
}


/* ROW TWO */
/* LOGO */
svg {
    width: 100px;
    height: auto;
    margin-right: 2rem;
    
    fill: white;
    cursor: pointer;
}

.cls-2-mask {
    fill: white;
}
/* END LOGO */
.row-two {
    position: sticky;
    top: 0;

    width: 100vw;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 2%);
    z-index: 999;
    color: white;
}

.row-two .fa-bars {
    display: none;
}

.row-two a {
    height: 90px;
}

.row-two .options {
    position: relative;
    text-align: center;
}

.row-two .options .hidden {
    display: none;
    height: 35px;
}

.row-two:hover {
    background: #fff !important;
    color: black !important;

    transition: all .5s ease-in-out;
}

.row-two .options:hover {
    position: relative;
    top: 35px;
    background: #222 !important;
}

.row-two .options:nth-child(4):hover {
    position: relative;
    top: 140px;
}
.row-two .options:nth-child(5):hover {
    position: relative;
    top: 190px;
}

.row-two .options:hover a:first-child {
    padding-top: 2.5rem;
}

.row-two .options:hover .hidden,
.row-two .options:hover a  {
    display: block;
    color: #fff !important;
    padding-top: .5rem;
}

.row-two .options .hidden:hover {
    background: #000 !important;
}


.row-two:hover a {
    color: black !important;
    font-weight: 700;
}

.row-two:hover svg {
    fill: black !important;
}

.row-two:hover .cls-2-mask {
    fill: black !important;
}

.row-two:hover i:hover,
.row-two:hover small:last-child:hover {
    opacity: .5;
}

/* MODAL  */
.modal {
    display: none;
    z-index: 1;

    outline: none;
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;
    background: #fff;
}

.modal .close-btn {
    width: 100%;
    padding: 1rem;
    font-weight: bold;

    border: none;

    background: #222;
    color: rgb(221, 221, 221);
}

.modal p {
    padding: 1rem 1rem;
    font-size: 20px;
    font-weight: 400;
    
    border-bottom: 1px solid rgb(177, 177, 177);
    color: #111;
}

.modal-button-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;

    margin: 1rem auto;
    width: 95%;
    height: 200px;
}

.modal-button-section button {
    outline: none;
    color: #111;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid rgb(177, 177, 177);
}

.modal-button-section button:last-child {
    grid-column: span 2;
    width: 50%;
    margin: 0 auto;
}


/* COLUMN TWO */
.column-two {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-two a{
    width: 100px;
    
    font-weight: 800;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* COLUMN THREE */
.column-three {
    display: flex;
}

.column-three .icons {
    display: flex;
    margin-right: 2rem;
    font-size: 26px;
}

.column-three .icons i {
    cursor: pointer;
    padding: 0 .8rem;
}

.column-three .icons .shopping-bag {
    cursor: pointer;
    display: flex;
}

.column-three .icons .bag-amount {
    display: flex;
    justify-content: center;
    align-items: center;

    background: yellowgreen;
    border-radius: 999px;

    width: 20px;
    height: 20px;
    margin-left: -9px;
    font-size: 12px;
    
    color: black;
}

.column-three .prices {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.column-three .prices small:last-child{
    margin-right: -40px;
    cursor: pointer;
}


/* GALLERY */
.slide-gallery {
    display: flex;
    z-index: 1;
    position: relative;
    top: -90px;
}

.slide-gallery img {
    max-width: 100%;
}

.slide-gallery i {
    position: absolute;
    font-size: 1.5rem;
    z-index: 1;
    cursor: pointer;
    bottom: 50%;
}
.slide-gallery .fa-arrow-right {
    right: 1%;
}
.slide-gallery .fa-arrow-left {
    left: 2%;
}